.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-skeleton);
  border-radius: var(--radius-md);
}

.skeleton--rounded {
  border-radius: 9999px;
}

.skeleton--animated::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    color-mix(in srgb, var(--bg-skeleton), white 10%),
    transparent
  );
  animation: skeleton-shimmer 1.5s infinite;
}

[data-theme='light'] .skeleton--animated::after {
  background: linear-gradient(90deg, transparent, color-mix(in srgb, var(--bg-skeleton), rgb(179, 178, 187) 10%), transparent);
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}
