.form-field-root {
  width: auto;
}

.form-field--full {
  width: 100%;
}

.form-field-label {
  color: var(--text-main);
  margin-bottom: var(--space-0-5);
  user-select: none;
  display: block;
}

.form-field-message {
  margin-top: var(--space-1);
  display: block;
  animation: acioleui-slide-down var(--transition-normal) ease-out;
}

@keyframes acioleui-slide-down {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
